/* Styles for BillTracker */

body { color: black; background: white; }
a { color: blue; }
a.visited { color: purple; }
a:hover, a:active { background: #eef; }

/* So annoying how default styles make td and th so different! */
td, th { text-align: left; margin: 0; border: 0; padding: 1; }

/* But for the calendar, we actually want that right alignment */
table.calendar th { text-align: right; padding-right: 1em; }

/*
 * The top banner:
 */
table#banner {
  height: 150px; width: 100%;
  background-color: #e3e3e3;    /* or #efe; */
  border: 0; margin: 0; padding: 0;
}

#bannerleft {
    width:238px; height=150;
}
#bannermiddle {
  background-image: url("/static/img/footprints-emboss.jpg");
  background-repeat: repeat-x;
  vertical-align: top;
  text-align: center;
}
#bannerright {
    width:150px; height=150;
}

/* The toolbar at the top */

.toolbar { text-align: center; width: 90%; background: #ffe;
           padding: .4em; margin: 0 auto; border: 2px outset #eee;
           border-radius: 10px;
           line-height: 2em;
         }

.toolbuttons a, toolbuttons a:visited {
    color: white;
    background: #855;
    border: 3px outset white;
    border-radius: 8px;
    text-decoration: none;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif; font-weight: bold;
}

.toolbuttons a:hover {
    background: #a77;
}

.toolbar span.greyed {
    color: #b99;
    background:  #ddc;
    border: 1px #000;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif; font-weight: bold;
}

/* Dispense with the silly space-wasting banner images on small screens. */
@media (max-width: 799px) {
  #bannerleft, #bannerright { display: none; }
  #bannermiddle { background-image: none; }
}

.rightalign { float: right; margin: 0 1em; }
.rightalign span { background: #eef; border: 3px outset white; padding: 3px; border-radius: 2px; }
.rightalign span.active { border: 3px inset white; }
.rightalign span.selectable:hover { background: white; }
.rightalign span.selectable a:hover { background: white; }
.rightalign a { text-decoration: none; color: inherit; }

span.historycode { color: grey; }

/*
 * Body content:
 */

table.bill_list, table.bill_minilist { width: 99%; }

table.bill_list th, table.bill_list td { padding: 1em; }

table.bill_minilist th, table.bill_minilist td { padding: .25em; }

td.rightalign { text-align: right; }

table.definitions { border-collapse: collapse; }

table.definitions th,  table.definitions td {
  border: 2px solid #ccc;
  vertical-align: top;   /* valign never works, sigh */
  padding: .2em;
}

table.definitions th {
  font-family: fixed; white-space: pre; font-weight: normal;
}

table.ddddefinitions tr { border: 1px solid black; }

/*
li:nth-child(odd) { background: lightblue; }</style>
 */

tr.odd td  { background: #fff; }
tr.even td { background: #cfd; }

.newsbanner {
    color: #050;
    text-align: center; width: 95%;
    padding: .4em; margin: .5em auto;
    border: 1px outset black; border-radius: 5px;
}

.error { color: red; }
.system-alert { color: red; }
.system-message { color: green; }

.highlight { background: yellow; }

table.bordered, table.bordered td { border: 1px solid black; }
table.bordered td { padding: .3em; }


/* Some things are shown only with Javascript, so are initially made invisible.
 */
.scriptonly { display: none; }
