[Unit]
Description=Periodically update NMBillTracker data

[Service]
Type=oneshot
ExecStart=/path/to/billtracker/billtracker-update.py
KillMode=process
TimeoutStopSec=900
