[Unit]
Description=Periodically update NMBillTracker data

[Service]
Type=oneshot
ExecStart=/usr/bin/wget /var/www/nmbilltracker/system-timers/billtracker-update.py -O /var/log/nmbilltracker.log
KillMode=process
TimeoutStopSec=900
