/* Styles for BillTracker */

body { color: black; background: white; }
a { color: blue; }
a.visited { color: purple; }
a:hover, a:active { background: #eef; }

/* So annoying how default styles make td and th so different! */
td, th { text-align: left; margin: 0; border: 0; padding: 1; }

/*
 * The top banner:
 */
table#banner {
  height: 150px; width: 100%;
  background-color: white;    /* or #efe; */
  border: 0; margin: 0; padding: 0;
}

#bannermiddle {
  background-image: url("/static/img/footprintsg.png");
  background-repeat: repeat-x;
  vertical-align: top;
}

.toolbar { text-align: center }
#bannermiddle { text-align: center }

/*
 * Body content:
 */

table.bill_list, table.bill_minilist { width: 99%; }

table.bill_list th, table.bill_list td { padding: 1em; }

table.bill_minilist th, table.bill_minilist td { padding: .25em; }

/*
li:nth-child(odd) { background: lightblue; }</style>
 */

tr.odd td  { background: #fff; }
tr.even td { background: #cfd; }

div.error { color: red; }

