/* Styles for BillTracker */

body { color: black; background: white; }
a { color: blue; }
a.visited { color: purple; }
a:hover, a:active { background: #eef; }

/* So annoying how default styles make td and th so different! */
td, th { text-align: left; margin: 0; border: 0; padding: 1; }

/* But for the calendar, we actually want that right alignment */
table.calendar th { text-align: right; padding-right: 1em; }

/*
 * The top banner:
 */
table#banner {
  height: 150px; width: 100%;
  background-color: #e3e3e3;    /* or #efe; */
  border: 0; margin: 0 0 3px 0; padding: 0;
}

#bannerleft {
    width:238px; height=150;
}
#bannermiddle {
  background-image: url("/static/img/footprints-emboss.jpg");
  background-repeat: repeat-x;
  vertical-align: top;
  text-align: center;
}
#bannerright {
    width:150px; height=150;
}

/* ******** The toolbar with menu buttons inside */

.menuheader {
    width: 98%; background: #ffe;
    padding: .4em; margin: 0; border: 2px outset #eee;
    border-radius: 10px;
}

/* Dispense with the silly space-wasting banner images on small screens. */
@media (max-width: 799px) {
  #bannerleft, #bannerright { display: none; }
  #bannermiddle { background-image: none; }
}

.rightalign { float: right; margin: 0 1em; }
.rightalign span { background: #eef; border: 3px outset white;
                   padding: 3px; border-radius: 2px; }
.rightalign span.active { border: 3px inset white; }
.rightalign span.selectable:hover { background: white; }
.rightalign span.selectable a:hover { background: white; }
.rightalign a { text-decoration: none; color: inherit; }

span.historycode { color: grey; }

#banner h1 { font-size: 2em; }

/*
 * Body content:
 */

/* h1 headers that aren't in the banner should be a little smaller */
h1 { font-size: 1.5em; }

/*
 * Bill lists that span alternating colors.
 * Class bill_list is for multiple lines (e.g. on the main used page);
 * bill_minilist is for single-line bills, like in the allbills page
 * or in interest list pages.
 * In either case, style table rows thusly to get alternating colors:
 * <tr class="{{ loop.cycle('odd', 'even') }}">
 */

table.bill_list, table.bill_minilist { width: 99%; }

table.bill_list th, table.bill_list td { padding: 1em; }

table.bill_minilist th, table.bill_minilist td { padding: .25em; }

td.rightalign { text-align: right; }

table.definitions { border-collapse: collapse; }

table.definitions th,  table.definitions td {
  border: 2px solid #ccc;
  vertical-align: top;   /* valign never works, sigh */
  padding: .2em;
}

table.definitions th {
  font-family: fixed; white-space: pre; font-weight: normal;
  ext-align: right;
}

tr.odd td  { background: #fff; }
tr.even td { background: #dfe; }

/* Odd or even, hovering will highlight the entire row */
table.bill_list tr:hover td, table.bill_minilist tr:hover td {
  background: #ffa;
}

th { background: #eee; }

/* The optional news banner (BILLTRACKER_INFO) and alert (BILLTRACKER_ALERT)
 * displayed at the top of every page.
 */
.newsbanner, .newsalert {
    color: #040; background: #ffe;
    padding: .4em;
    border: 1px outset black; border-radius: 5px;
}
.newsalert { color: #900; }

.error { color: red; }
.system-alert { color: red; }
.system-message { color: green; }

.highlight { background: #ffb; }

.party-R { background: #fcc; }
.party-D { background: #cef; }
.party-L { background: #ffc; }

table.bordered, table.bordered td { border: 1px solid black; }
table.bordered td { padding: .3em; }

.buttonlike {
  color: black;
  background: #afe;
  padding: 1px 3px;
  border: 2px outset grey;
  border-radius: 6px;
  text-decoration: none;
}
.buttonlike.pressed {
  color: white;
  background: #8cc;
  border: 2px inset grey;
}
/* hover color has to be !important to override the inline style tag colors.
 * Would be nice to find a different override that didn't require !important.
 */
.buttonlike:hover {
  background: #eff !important;
}

.buttonholder { line-height: 1.8em }

/* Tags in the minilist on the Tags page, and the buttons at the top of Tags */
.colortag {
  color: white;
  border-radius: 4px;
  padding-left: .4em; padding-right: .4em;
}

/* XXX Need a way to set this rule only for things that have both classes,
 * colortag and hover.
 * As a stopgap, the other colortags are span, not a.
 */
a.colortag:hover {
  color: black;
  background: white;
}

/* The Submit buttons on the Tags page */
input.update-tags-submit {
  background: #66a;
  color: white;
  border: 2px outset grey;
  padding: 2px 3px;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    background: #ddf;
    color: black;
  }
}

input.update-tags-submit-modified {
  background: #44f;
  color: yellow;
}

/* The captcha on the registration page */
.captcha {
    background: #eee;
}
fieldset legend {
  font-weight: bold;
  font-style: italic;
  font-size: 9%;
}
input#capq {
    user-select: none !important;
    -webkit-user-select: none;
    -moz-user-select: none !important;
    -ms-user-select: none;
    background: #eee;
    border: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: none;
    width: auto;
}
