{% extends "base.html" %}

{% block content %}
<h1>About the New Mexico Bill Tracker</h1>

<p>
The NM Bill Tracker is a free service for following pending legislation
in the New Mexico legislature,
written by Akkana Peck.
<p>
I wrote it because I was frustrated at how difficult it is
to find out when bills are actively being considered in the
legislature. I wanted something I could use to track bills
and let me know when important issues are coming up for debate
or for a vote.
<p>
I also want to help make it easier for people to keep track
of what our government is doing and take an active role in government,
to help our state move in the right direction.
(If you're interested in being more active in government,
the NM League of Women Voters, for which I'm the webmaster,
has lots of info on the
<a href="https://www.lwvnm.org/Action/">LWVNM Action page</a>.)

<h2>Privacy and Email Addresses</h2>
<p>
NMBill Tracker asks for your email address so it can send you updates on bills.
Email addresses are not used for any other purpose, and will never be
shared with outside projects or companies.
<p>
If you don't want email updates and just want to check bill status
online with a web browser, you can leave the email field blank.
<p>
If you initially register an email address, then change your mind and
decide you don't want email updates after all, go to Settings and make
the Email field blank.

<h2>Known Bugs and Missing Features</h2>
<p>
Currently the Bill Tracker is still experimental.
I'm still changing things (like the order in which bills are shown),
and I'm sure there are bugs.
Use it at your own risk, but I welcome feedback.
It seemed to work well enough during the 2019 session,
and is now updated to work in 2020.
I hope you find it useful!

<h2>Can it be used in other states?</h2>
<p>
Right now the Bill Tracker only works in New Mexico, but it should be
fairly easy to extend it to any state that has bill status online.
The NM Bill Tracker uses Python to scrape the New Mexico Legislative website.
if you're interested in using Bill Tracker in your state, I'd be
happy to work with you to integrate scrapers for other states into
the Bill Tracker source code.
Drop me a line.

<p>
BillTracker is free open source software, written in Python/Flask. The
<a href="https://github.com/akkana/billtracker">BillTracker source code
is on GitHub</a>. Contributions are welcome!

<p>
Problems, pet peeves or wish list?
<a href="http://shallowsky.com/mailme.html">Contact Akkana</a>.

{% endblock %}
