{% extends "base.html" %}

{% block content %}

<h1>Track Bills</h1>

<form action="" method="post">
{{ form.hidden_tag() }}

{{ form.billno.label }}   {{ form.billno(size=15, autofocus=true) }}
{{ form.submit() }}
<br>
  {% for error in form.billno.errors %}
      <span style="color: red;">{{ error }}</span>
  {% endfor %}

<p>
{{ form.billhelp }}

</form>

<hr>

{% if user is defined and user.bills is defined and user.bills|length > 0 %}

{% import "listbills.html" as listbills %}

<form method="POST" action="/track_untrack">
<input type="hidden" id="returnpage" name="returnpage" value="addbills">
<input type="hidden" id="yearcode" name="yearcode" value="{{ session['yearcode'] }}">

<p>
You're currently tracking:
<br>

<table class="bill_minilist">
  <tr><th>Bill <th>Title <th>Track

  {% for bill in bill_list %}

    <tr class="{{ loop.cycle('odd', 'even') }}">
      <td>{{ bill.billno }}
      <td><a href="{{ bill.bill_url() }}" target="_blank">{{ bill.title }}</a>
      <td><input type="checkbox" name='f_{{bill.billno}}'" checked>

  {% endfor %}

<tr><td><td><td><input type="submit" value="Untrack Bills">

</table>

</form>

{% else %}
You're not tracking any bills yet.

{% endif %}

{% endblock %}
