    <!-- Banner: as usual, couldn't get this to work with pure CSS
         but it works fine with a table. -->
    <table id="banner">
      <tr>
        <td id="bannerleft">
          <img src="/static/img/trackerdog-emboss.jpg" align=left>
        <td id="bannermiddle">
          <h1>The New Mexico Bill Tracker</h1>
          <p>
          <i>Track bills you're interested in during the NM legislative session.</i>
        <td id="bannerright">
          <img src="/static/img/scroll-pen.png">
    </table>

    <header class="menuheader">
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
      </label>

    {# can't set cururl = url_for(request.endpoint) because
       url_for fails if there are any values that need specifying
     #}
    {% set cururl = request.path %}
    {% if current_user and not current_user.is_anonymous %}
      {% set homename = "My Bills" %}
    {% else %}
      {% set homename = "Home" %}
    {% endif %}
    {% set navlinks = [
        [ '/',         homename,        True ],
        [ '/allbills', 'All/New Bills', True ],
        [ '/popular',  'Popular Bills', True ],
        [ '/tags',     'Tags',          True ],
        [ '/addbills', 'Track Bill #',  False ],
        [ '/help',     'Help',          True ],
        [ '/links',    'Links',         True ],
        [ '/settings', 'Settings',      False ],
        [ '/login',    'Login',         True ],
      ] %}

      <ul class="mainmenu">

        <li><span class=username>
          {% if current_user and not current_user.is_anonymous %}
            <b>{{ current_user.username }}:</b>
          {% else %}
            <i>(not logged in)</i>
          {% endif %}
            </span></li>

        {% for navlink in navlinks %}
          {% if navlink[0] == '/' %}
            {% if cururl == '/' or cururl == '/index' %}
              <li><span class="pressed">{{ navlink[1] }}</span></li>
            {% else %}
              <li><a href="{{ navlink[0] }}">{{ navlink[1] }}</a></li>
            {% endif %}
          {% elif current_user and not current_user.is_anonymous %}
            {% if navlink[0] == '/login' %}
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% elif cururl.startswith(navlink[0]) %}
              <li><span class="pressed">{{ navlink[1] }}</span></li>
            {% else %}
              <li><a href="{{ navlink[0] }}">{{ navlink[1] }}</a></li>
            {% endif %}
          {% else %}
            {% if cururl.startswith(navlink[0]) %}
              <li><span class="pressed"}}">{{ navlink[1] }}</a></li>
            {% elif navlink[2] %}
              <li><a href="{{ navlink[0] }}">{{ navlink[1] }}</a></li>
            {% else %}
              <li><span class="greyed">{{ navlink[1] }}</span></li>
            {% endif %}
          {% endif %}
        {% endfor %}
    </ul>

    {% if session["sessionname"] %}
      <b>{{ session["sessionname"] }} Session</b>
      {% if current_user and not current_user.is_anonymous %}
        (<a href="/changesession">change session</a>)
      {% endif %}
    {% else %}
      &nbsp;
    {% endif %}
    </header>

    {% if config['BILLTRACKER_ALERT'] %}
    <p class="newsalert">
        {{ config['BILLTRACKER_ALERT'] }}
    </p>
    {% endif %}
    {% if config['BILLTRACKER_INFO'] %}
    <p class="newsbanner">
        {{ config['BILLTRACKER_INFO'] }}
    </p>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="error">
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% endwith %}
