<html>
  <head>
    {% if title %}
    <title>{{ title }} - Bill Tracker</title>
    {% else %}
    <title>New Mexico Bill Tracker</title>
    {% endif %}

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/billtracker.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/burgermenu.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  </head>
  <body>

    <!-- Banner: as usual, couldn't get this to work with pure CSS
         but it works fine with a table. -->
    <table id="banner">
      <tr>
        <td id="bannerleft">
          <img src="/static/img/trackerdog-emboss.jpg" align=left>
        <td id="bannermiddle">
          <h1>The New Mexico Bill Tracker</h1>
          <p>
          <i>Track bills you're interested in during the NM legislative session.</i>
        <td id="bannerright">
          <img src="/static/img/scroll-pen.png">
    </table>

    <header class="menuheader">
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
      </label>

      <ul class="mainmenu">

        <li><span class=username>
          {% if current_user and not current_user.is_anonymous %}
            <b>{{ current_user.username }}:</b>
          {% else %}
            <i>(not logged in)</i>
          {% endif %}
        </span></li><li>

      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('allbills') }}">All/New bills</a></li>
      <li><a href="{{ url_for('popular') }}">Popular bills</a></li>
      {% if current_user and not current_user.is_anonymous %}
          <li><a href="{{ url_for('addbills') }}">Track bill #</a></li>
          <li><a href="{{ url_for('user_settings') }}">Settings</a></li>
      {% else %}
          <li><span class="greyed">Track Bill #</span></li>
          <li><span class="greyed">Settings</span></li>
      {% endif %}

      <li><a href="{{ url_for('links') }}">Links</a></li>
      <li><a href="{{ url_for('help') }}">Help</a></li>
      <li><a href="{{ url_for('about') }}">About</a></li>

      <li>
      {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}">Login</a>
      {% else %}
          <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
      </li>
    </ul>

    {% if session["sessionname"] %}
      <b>{{ session["sessionname"] }} Session</b>
      {% if current_user and not current_user.is_anonymous %}
        (<a href="/changesession">change session</a>)
      {% endif %}
    {% else %}
      &nbsp;
    {% endif %}
    </header>

    <!-- Put system messages and alerts here,
         with class "newsbanner", and optionally also
         class either system-alert (red) or system-message (green).
    <p class="newsbanner">
News: 
    </p>
    -->

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="error">
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% endwith %}

    <!-- - Each page will put its content here: -->
    {% block content %}{% endblock %}

  </body>
</html>
