<html>
  <head>
    {% if title %}
    <title>{{ title }} - Bill Tracker</title>
    {% else %}
    <title>New Mexico Bill Tracker</title>
    {% endif %}

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/billtracker.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/burgermenu.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  </head>
  <body>

    <!-- Banner: as usual, couldn't get this to work with pure CSS
         but it works fine with a table. -->
    <table id="banner">
      <tr>
        <td id="bannerleft">
          <img src="/static/img/trackerdog-emboss.jpg" align=left>
        <td id="bannermiddle">
          <h1>The New Mexico Bill Tracker</h1>
          <p>
          <i>Track bills you're interested in during the NM legislative session.</i>
        <td id="bannerright">
          <img src="/static/img/scroll-pen.png">
    </table>

    <header class="menuheader">
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
      </label>

    {% set cururl = url_for(request.endpoint) %}
    {% set navlinks = [
        [ '/index', 'Home', True ],
        [ '/allbills', 'All/New Bills', True ],
        [ '/popular', 'Popular Bills', True ],
        [ '/addbills', 'Track Bill #', False ],
        [ '/settings', 'Settings', False ],
        [ '/links', 'Links', True ],
        [ '/help', 'Help', True ],
        [ '/about', 'About', True ],
        [ '/login', 'Login', True ],
      ] %}

      <ul class="mainmenu">

        <li><span class=username>
          {% if current_user and not current_user.is_anonymous %}
            <b>{{ current_user.username }}:</b>
          {% else %}
            <i>(not logged in)</i>
          {% endif %}
        </span></li>

        {% for navlink in navlinks %}
          {% if current_user and not current_user.is_anonymous %}
            {% if navlink[0] == '/login' %}
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% elif navlink[0] == cururl %}
              <li><span class="pressed">{{ navlink[1] }}</span></li>
            {% else %}
              <li><a href="{{ navlink[0] }}">{{ navlink[1] }}</a></li>
            {% endif %}
          {% else %}
            {% if navlink[0] == cururl %}
              <li><span class="pressed"}}">{{ navlink[1] }}</a></li>
            {% elif navlink[2] %}
              <li><a href="{{ navlink[0] }}">{{ navlink[1] }}</a></li>
            {% else %}
              <li><span class="greyed">{{ navlink[1] }}</span></li>
            {% endif %}
          {% endif %}
        {% endfor %}
    </ul>

    {% if session["sessionname"] %}
      <b>{{ session["sessionname"] }} Session</b>
      {% if current_user and not current_user.is_anonymous %}
        (<a href="/changesession">change session</a>)
      {% endif %}
    {% else %}
      &nbsp;
    {% endif %}
    </header>

    <!-- Put system messages and alerts here to show on every page,
         with class "newsbanner" or "newsalert", and optionally also
         class either system-alert (red) or system-message (green).
         You can set news alerts by setting an environment variable
         in your run script (e.g. billtracker.wsgi):
         os.environ["BILLTRACKER_ALERT"] = "Senate updates are running behind."
         os.environ["BILLTRACKER_INFO"] = "The current session ends Feb 10."
    -->
    {% if config['BILLTRACKER_ALERT'] %}
    <p class="newsalert">
        {{ config['BILLTRACKER_ALERT'] }}
    </p>
    {% endif %}
    {% if config['BILLTRACKER_INFO'] %}
    <p class="newsbanner">
        {{ config['BILLTRACKER_INFO'] }}
    </p>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="error">
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% endwith %}

    <!-- - Each page will put its content here: -->
    {% block content %}{% endblock %}

  </body>
</html>
