<h2>The 2020 Legislative Session is About to Begin!</h2>

<p>
You're receiving this email because you were registered with the
New Mexico Bill Tracker for the 2019 legislative session.
<p>
The 2020 session begins on January 21, 2020. Legislators started
pre-filing bills on December 17, so the Bill Tracker is now up
and ready for action, showing 2020 bills rather than 2019:
<br />
<a href="http://nmbilltracker.com/">nmbilltracker.com</a>.
<p>
Once the session begins (Jan 21), the Bill Tracker will start sending
daily summaries of the bills you're tracking. If you don't want
the daily emails, you can go to your Settings page and delete your
email address.
<p>
Thanks for using the Bill Tracker; I hope it's useful.
Please let me know if you see any problems, particularly if you
see any pages where it's still showing 2019 bills instead of 2020.
<p>
<a href="mailto:akkana@nmbilltracker.com">...Akkana</a>

<h1>Bills {{ recipient.username }} is tracking:</h1>

<table class="bill_list">
{{ recipient.show_bill_table(bill_list, True) | safe }}
</table>

<hr>
This is the daily (once the session starts) email from
<a href="https://nmbilltracker.com/">The New Mexico Bill Tracker</a>.
If you have a problem with these emails, contact
<a href="mailto:akkana@nmbilltracker.com">Akkana</a>.
