<h2>The 2019 Session is Over!</h2>

<p>
This is the last daily email from the New Mexico Bill Tracker for this session.
<p>
The Bill Tracker will remain open and will continue tracking bills.
If you want to check whether bills are signed, you can still check
your bill list online, but I'm guessing most people won't want
continued daily emails.
<p>
For next year's 30-day session, the Bill Tracker will begin tracking
bills once prefiling begins and bills start appearing on the legislative site,
and daily emails will begin when the session starts.
<p>
If you have any suggestions for improvements you'd like to see next year,
please let me know.
<p>
Thanks for using the Bill Tracker. I hope it's been useful.
<p>
<a href="mailto:akkana@shallowsky.com">...Akkana</a>

<h1>Bills {{ recipient.username }} is tracking:</h1>

<table class="bill_list">
{{ recipient.show_bill_table(bill_list, True) | safe }}
</table>

<hr>
This is the daily email from
<a href="https://nmbilltracker.com/">The New Mexico Bill Tracker</a>.
If you have a problem with these emails or want to stop receiving them,
contact <a href="mailto:akkana@shallowsky.com">Akkana</a>.
