<h2>New Mexico Bill Tracker Daily Email</h2>

<p>
The 2021 session runs from Tuesday, Jan 19 to Saturday, Mar 20.
<p>
You can add or remove bills from your list, or change your settings,
at: <a href="https://nmbilltracker.com/">The New Mexico Bill Tracker</a>.

<h2>Bills {{ recipient.username }} is tracking:</h2>

<table class="bill_list">
{{ recipient.show_bill_table(bill_list, True) | safe }}
</table>

<hr>
This is the daily (once the session starts) email from
<a href="https://nmbilltracker.com/">The New Mexico Bill Tracker</a>.
If you have a problem with these emails, contact
<a href="mailto:akkana@nmbilltracker.com">Akkana</a>.
