{% extends "base.html" %}

{% block content %}

<h1>NM Bill Tracker Help</h1>

<p>
A few tips on things that might not be obvious:

<h2>How Do I Track a New Bill, or Stop Tracking a Bill?</h2>
<p>
There are two ways to add bills to your tracking list,
or remove them from the list.
<p>
The easiest way is the <a href="/allbills">All/New Bills</a> page,
which lists the titles of all the bills in the current session..
Bills you haven't seen before will be listed first, under <b>New Bills</b>.
All other bills will be listed below the new bills.
<p>
Each bill has either a <i>Track</i> button (if you're not yet tracking it)
or an <i>Untrack</i> button. Click the Track/Untrack buttons on as many
bhills as you want to add or remove, then click <i>Track/Untrack</i>.
<p>
If you know the designation (e.g. SB1) of a specific bill you want to track,
the <a href="/addbills">Track bill #</a> page lets you type in a
bill designation then click <i>Track a Bill</i> to add it to your list.
That page also shows all the bills you're tracking,
so you can remove bills from your list by marking the <i>Untrack</i>
button next to the bills you want to remove, then clicking
<i>Untrack Bills</i>.

<h2>How Do I Find Out About New Bills?</h2>
<p>
The <a href="/allbills">All/New Bills</a> page keeps track of the
bills you've seen,
and will show you new bills you haven't seen yet at the top,
along with bills that have had some sort of major change.
Older bills are listed below that.
I usually check this page daily during the session.

<p>
You can also go to the <a href="/popular">Popular Bills</a> page,
where you can get an idea of which bills other people are tracking.
It's a good way to notice important bills you might not otherwise have
noticed.

<h2>Can I Look at Bills from Past Sessions?</h2>
<p>
Now you can! Look for the <b>change session</b> link in the yellow
toolbar at the top of any BillTracker page. Whatever session you
choose will be remembered until you change back to the current one.

<h2>How Do I Advocate For or Against a Bill?</h2>
<p>
The <a href="https://www.lwvnm.org/Action/">LWVNM Action Page</a>
keeps up-to-date information on how to watch committee meetings
and House and Senate proceedings, and how to speak for or against
a bill you care about.

<h2>What Do All Those Weird Terms Mean in a Bill's Status?</h2>
<p>
NMLegis has a
<a href="https://www.nmlegis.gov/Glossary" target="_blank">Glossary</a>
that explains many of the terms, but here are a few they don't explain:
<dl>
<dt>Chaptered
  <dd>Signed by the Governor
<dt>Not Printed
  <dd>Ruled "not germane" in a 30-day session, so the bill is dead
</dl>

<p>
Decoding a bill's status is a real art. For instance, a status might
say something like:<br>
<code>SCORC/SJC-SCORC [15] DNP-CS/DP-SJC [21] DP/a - PASSED/S (40-0) [12] HHHC-HHHC [13] DP/a [15] PASSED/H (59-0) [24] s/cncrd SGND BY GOV (Apr. 3) Ch.227.</code>code>
<p>
Translation:
<table class="definitions">
<tr>
<th>SCORC/SJC-SCORC</th>
<td>
The bill started in the SCORC (Senate Corporations &amp;
Transportation) committee, with a referral to SJC (Senate Judiciary
Committee) afterward.
<tr>
<th>[15] DNP-CS/DP-SJC</th>
<td>
On legislative day 15, it was given a Do Not Pass recommendation,
but a Do Pass recommendation on Committee Substitution, which means
the committee made suggested amendments to the bill, then it was passed
to SJC.
<tr>
<th>[21] DP/a - PASSED/S (40-0)</th>
<td>
On day 21, SJC passed it, and then the Senate passed it 40-0.
<tr>
<th>[12] HHHC-HHHC [13] DP/a</th>
<td>
Meanwhile, in the House, the companion bill moved on day 12 to HHHC
(House Health and Human Services Committee), which on day 13 recommended
a Do Pass with Amendments (DP/a).
<tr>
<th>[15] PASSED/H (59-0)</th>
<td>
On day 15, the bill passed 59-0 in the House.
<tr>
<th>[24] s/cncrd SGND BY GOV (Apr. 3) Ch.227</th>
<td>
On day 24, the Senate concurred (with the House amendments),
and the bill was signed by the Governor.
</table>
<p>
For a list of these abbreviations, including the committee abbreviations, see
<a href="https://www.nmlegis.gov/Legislation/Action_Abbreviations"
   target="_blank">NMLegis' Action Abbreviations</a>.

<h2>Can I use the Bill Tracker Without Creating an Account?</h2>
<p>
The main purpose of the Bill Tracker is to keep an eye on your specific
list of bills, and most of its pages don't make sense without that.
But the <b>All Bills</b> page is available without logging in,
offering links to every bill filed in the current session along with
links to the bill's page on NMLEGIS and the text (contents) of the bill.
Of course, if you're not logged in, the page won't keep track
of which bills are new to you.

<h2>How Do I Add, Remove or Change My Email Address?</h2>
<p>
You can change your password or email address in
<a href="/settings">Settings</a>.
Email addresses must be confirmed: you will get an email from
nmbilltracker.org with a confirmation code.
You won't receive any email alerts until you confirm the email address,
though you can still use the Bill Tracker.
<p>
If you no longer want to receive email alerts, you can clear your
email address.

<h2>NMLEGIS Links Open in a New Tab</h2>
<p>
Most links on the Bill Tracker to a bill, committee or legislator
will open in a new tab, so your Bill Tracker page is still available.

<h2>Helpful Links</h2>
<p>
The <a href="/links">Links page</a> has links I've found useful for
following the legislative session.
For instance, for committees that don't list
their schedules on the committee's page, you can find a list of
<i>all</i> committee calendars, as well as the House and Senate
calendars, on the Links page.
<p>
Many of the links go to the League of Women Voters of New Mexico website.
The Bill Tracker is not an official LWV project, but it is run by the
LWVNM webmaster with cooperation from the League.

<h2>Other Questions?</h2>
<p>
If there's something you find confusing in the Bill Tracker that you
think should be documented here,
<a href="http://shallowsky.com/mailme.html">contact Akkana</a>.


{% endblock %}
