{% extends "base.html" %}

{% block content %}

<h1>NM Bill Tracker Help</h1>

<p>
A few tips on things that might not be obvious:

<h2>How Do I Track a New Bill, or Stop Tracking a Bill?</h2>
<p>
There are two ways to add bills to your tracking list,
or remove them from the list.
<p>
The easiest way is the <a href="/allbills">All/New Bills</a> page,
which lists the titles of all the bills in the current session..
Bills you haven't seen before will be listed first, under <b>New Bills</b>.
All other bills will be listed below the new bills.
<p>
Each bill has either a <i>Track</i> button (if you're not yet tracking it)
or an <i>Untrack</i> button. Click the Track/Untrack buttons on as many
bhills as you want to add or remove, then click <i>Track/Untrack</i>.
<p>
If you know the designation (e.g. SB1) of a specific bill you want to track,
the <a href="/addbills">Track by #</a> page lets you type in a
bill designation then click <i>Track a Bill</i> to add it to your list.
That page also shows all the bills you're tracking,
so you can remove bills from your list by marking the <i>Untrack</i>
button next to the bills you want to remove, then clicking
<i>Untrack Bills</i>.

<h2>How Do I Find Out About New Bills?</h2>
<p>
The <a href="/allbills">All/New Bills</a> page keeps track of the
bills you've seen,
and will show you new bills you haven't seen yet at the top,
along with bills that have had some sort of major change.
Older bills are listed below that.
I usually check this page daily during the session.

<p>
You can also go to the <a href="/popular">Popular Bills</a> page,
where you can get an idea of which bills other people are tracking.
It's a good way to notice important bills you might not otherwise have
noticed.

<h2>What Do All Those Weird Terms Mean in a Bill's Status?</h2>
<p>
NMLegis has a <a href="https://www.nmlegis.gov/Glossary">Glossary</a>
that explains many of the terms, but here are a few they don't explain:
<dl>
<dt>Chaptered
  <dd>Signed by the Governor
<dt>Not Printed
  <dd>Ruled "not germane" in a 30-day session, so the bill is dead
</dl>

<h2>Can I use the Bill Tracker Without an Account?</h2>
<p>
The main purpose of the Bill Tracker is to keep an eye on your specific
list of bills, and most of its pages don't make sense without that.
But the <b>All Bills</b> page is available without logging in,
offering links to every bill filed in the current session along with
links to the bill's page on NMLEGIS and the text (contents) of the bill.
Of course, if you're not logged in, the page won't keep track
of which bills are new.

<h2>How Do I Add, Remove or Change My Email Address?</h2>
<p>
You can change your password or email address in
<a href="/settings">Settings</a>.
Email addresses must be confirmed: you will get an email from
nmbilltracker.org with a confirmation code.
You won't receive any email alerts until you confirm the email address,
though you can still use the Bill Tracker.
<p>
If you no longer want to receive email alerts, you can clear your
email address.

<h2>NMLEGIS Links Open in a New Tab</h2>
<p>
Most links on the Bill Tracker to a bill, committee or legislator
will open in a new tab, so your Bill Tracker page is still available.

<h2>Helpful Links</h2>
<p>
The <a href="/links">Links page</a> has links I've found useful for
following the legislative session.
For instance, for committees that don't list
their schedules on the committee's page, you can find a list of
<i>all</i> committee calendars, as well as the House and Senate
calendars, on the Links page.
<p>
Many of the links go to the League of Women Voters of New Mexico website.
The Bill Tracker is not an official LWV project, but it is run by the
LWVNM webmaster with cooperation from the League.

<h2>Other Questions?</h2>
<p>
If there's something you find confusing in the Bill Tracker that you
think should be documented here,
<a href="http://shallowsky.com/mailme.html">contact Akkana</a>.


{% endblock %}
