{% extends "base.html" %}

{% block content %}

{% if not current_user.email_confirmed() %}
<p class="error">
Warning: Your email hasn't been confirmed yet.
Go to <a href="/settings">Settings</a> to request another confirmation message.
</p>
{% endif %}

<h1>Bills {{ current_user.username }} is tracking:</h1>
<p>
{% if current_user.last_check is not defined or not current_user.last_check %}
This is your first check.
{% else %}
You last checked at {{ current_user.last_check.strftime('%H:%M %m/%d/%Y') }}.
{{ current_user.update_last_check() }}
{% endif %}

<table id="bills" class="bill_list">
{{ current_user.show_bill_table(current_user.bills_by_status()) | safe }}
</tbody>
</table>

<p>
<b><a href="/addbills">Follow
{% if current_user.bills is defined and current_user.bills|length > 0 %}
more
{% else %}
some
{% endif %}
bills</a></b>

{% endblock %}
