{% extends "base.html" %}

{% block content %}

{% if not current_user.email_confirmed() %}
<p class="error">
Warning: Your email hasn't been confirmed yet.
Go to <a href="/settings">Settings</a> to request another confirmation message.
</p>
{% endif %}

<h1>Bills {{ current_user.username }} is tracking:</h1>

{% if current_user.bill_list %}
<div class="rightalign">
Sort by:
{% for btnname in [ 'status', 'action_date', 'passed' ] %}
  {% if btnname == sortby %}
    <span class="active">{{ sortnames[btnname] }}</span>
  {% else %}
    <span class="selectable"><a href="/{{ btnname }}_bills">{{ sortnames[btnname] }}</a></span>
  {% endif %}
{% endfor %}
</div>
{% endif %}

<p>
{% if current_user.last_check is not defined or not current_user.last_check %}
This is your first check.
{% else %}
You last checked at {{ current_user.last_check.strftime('%H:%M %m/%d/%Y') }}.
{% endif %}
{{ current_user.update_last_check() }}

<table id="bills" class="bill_list">

{{ current_user.show_bill_table(sortby, yearcode=session["yearcode"]) | safe }}

</tbody>
</table>

{% endblock %}
