{% extends "base.html" %}

{% macro show_list(somelist) %}

{% if somelist %}

<table class="definitions">
<thead>
<tr>
  <td>Name
  <td>Owner(s)
  <td>Description
  <td>Edit
</thead>
<tbody)

  {% for bl in somelist %}
  <tr>
    <td><a href="/view-interest-list?id={{ bl.id }}">{{ bl.name }}</a>
    <td>{% if bl.private %}
          (private for
        {% else %}
          (by
        {% endif %}
        {{ bl.editors }})
    <td>{{ bl.description }}
    <td>{% if user and bl.editors and user.username in bl.editors %}
          (<a href="/edit-interest-list?id={{ bl.id }}">edit</a>)
        {% endif %}
  </tr>
  {% endfor %}

</tbody>
</table>

{% else %}

None

{% endif %}

{% endmacro %}

{% block content %}

<h1>Interest Lists for {{ session["sessionname"] }} Session</h1>

{% if not all_lists %}

<p>
No interest lists have been created for the
{{ session["sessionname"] }} session.

{% else %}

{% if user %}

<h2>Lists You Can Edit</h2>

{{ show_list(my_lists) }}

<h2>Lists You Follow</h2>

{{ show_list(followed_lists) }}

{% endif %}

<h2>All Public Lists</h2>

{{ show_list(all_lists) }}

{% endif %}

<p>
<a href="/edit-interest-list">Create a new list</a>

{% endblock %}
