{% extends "base.html" %}

{% block content %}

<h1>Useful Links for New Mexico Bill Tracking</h1>

<h2>House, Senate and Committee Schedules</h2>
<p>
Some committees have their schedules on their committee page (which
you'll find linked from each bill), but others don't.
You can find schedules for all committees here:
<ul>
<li><a href="https://www.nmlegis.gov/Entity/House/Committee_Calendar" target="_blank">House Committee Calendars</a>
<li><a href="https://www.nmlegis.gov/Entity/Senate/Committee_Calendar" target="_blank">Senate Committee Calendars</a>
</ul>

<ul>
<li><a href="https://www.nmlegis.gov/Entity/House/Floor_Calendar" target="_blank">House Floor Calendar</a>
<li><a href="https://www.nmlegis.gov/Entity/Senate/Floor_Calendar" target="_blank">Senate Floor Calendar</a>
<li><a href="https://www.nmlegis.gov/Glossary" target="_blank">Glossary, to help you understand those Floor Calendars</a>
</ul>


<h2>Contacting your Legislators</h2>
  <p>
   <a href="https://nmlegis.gov/Members/Find_My_Legislator" target="_blank">Find My
   Legislator</a> on the New Mexico Legislative website.

  <p>
   LWVNM's <a href="https://www.lwvnm.org/Action/legislators.html" target="_blank">Contact Info for New Mexico Legislators</a>.

  <p>
   At the Roundhouse, you can pick up a paper copy of the New Mexico Rural Electrical Cooperatives's <i>Legislative Directory</i>. You can also install their smartphone app from Google Play or the Apple Store: search for <i>NMRECA Legislative Almanac</i>.

  <p>
   Or call the legislative switchboard at
   <strong>
    (505) 986-4300
   </strong>
   during the legislative session to contact your legislator or a legislative staff member.

<h2>Taking Action</h2>
<p>
The League of Women Voters of New Mexico's
<a href="https://www.lwvnm.org/Action/" target="_blank">LWVNM Action Page</a>
is useful to anyone trying to be active in the New Mexico law-making.

<p>
It includes information on the League's priorities for the current session,
a guide to the Legislative Website,
and helpful documents on how to get started lobbying at the legislature,
whether you want to lobby for yourself, for the League, or for another
organization.

<p>
(Full disclosure: Akkana Peck, who runs this website, also maintains the
LWVNM.org website.)


{% endblock %}
