{# A list of bills suitable for including inside other templates.
   bill_list is a list of Bill objects (so this macro isn't suitable
   for allbills, where many bills don't have a db object yet).

   Extras is a dictionary with keys like "track", "popular", "tag".
   Only logged-in users will see checkboxes or tag edit buttons.
 #}

{% import "edit_tags_button.html" as edit_tags_button %}

{% macro listbills(bill_list, user, extras={}) %}

<table class="bill_minilist">
 <thead>
    <tr><th>Bill</th> <th>Title</th> <th>Bill text</th>
    {% if "popular" in extras %}
      <th># Users
    {% endif %}
    {% if user and not user.is_anonymous and "track" in extras %}
      <th>Track</th>
    {% endif %}
    {% if "tag" in extras %}
      <th>Tags</th>
    {% endif %}
 </thead>

 <tbody>
  {% for bill in bill_list %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
      <td>{{ bill.billno }}</td>
      <td><a href="{{ bill.bill_url() }}" target="_blank">{{ bill.title }}</a></td>
      {% if bill.contentslink %}
        <td><a href="{{ bill.contentslink }}" target="_blank">text</a>,
        {% set pdflink = bill.get_PDF_link() %}
        {% if pdflink %}
            <a href="{{ pdflink }}" target="_blank">PDF</a></td>
        {% endif %}
      {% else %}
        <td>&nbsp;</td>
      {% endif %}
      {% if "popular" in extras %}
        <td>{{ bill.num_tracking() }}</td>
      {% endif %}
      {% if user and not user.is_anonymous and "track" in extras %}
        <td><input type="checkbox" class="track"
        {% if bill in user.bills %}
                   checked
        {% endif %}
                   name="f_{{ bill.billno }}"></td>
      {% endif %}
      {% if "tag" in extras %}
         <td>
           {% if bill.tags %}
             {% if extras["colorfcn"] %}
               {% set tag_colors = extras["colorfcn"](bill.tags) %}
               {% for tag in tag_colors %}
                 <span class="colortag" style="background: {{ tag_colors[tag] }}">{{ tag }}</span>
               {% endfor %}
             {% else %}
               {{ bill.tags }}
             {% endif %}
           {% else %}
             &nbsp;
           {% endif %}
           {% if extras["alltags"] %}
           {{ edit_tags_button.edit_tags_button(bill, extras["alltags"], extras["colorfcn"]) }}
           {% else %}
              alltags wasn't set
           {% endif %}
         </td>
      {% endif %}
    </tr>
  {% endfor %}

</table>

{% endmacro %}
