{% extends "base.html" %}

{% block content %}

<h1>User Settings</h1>
<p>
You can change your password or email address here.

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <table>
      <tr>
        <td class="rightalign">{{ form.email.label }}:
        <td>{{ form.email(size=35) }}
        <td>{% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      <tr>
        <td class="rightalign">{{ form.password.label }}:
        <td>{{ form.password(size=25) }}
        <td>{% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      <tr>
        <td class="rightalign">{{ form.password2.label }}:
        <td>{{ form.password2(size=25) }}
        <td>{% for error in form.password2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </table>

    <p>{{ form.submit() }}</p>
</form>


{% endblock %}
