{% extends "base.html" %}

{% block content %}

<h1>User Settings</h1>
<p>
You can change your password or email address here.

{% if current_user.email and not current_user.email_confirmed() %}
<p class="error">
Warning: Your email hasn't been confirmed yet.
Clicking update will re-send the email with a confirmation link
(you don't need to change anything first).
</p>
{% endif %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <table>
      <tr>
        <td class="rightalign">{{ form.email.label }}:
        <td>{{ form.email(size=35) }}
        <td>{% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      <tr>
        <td class="rightalign">{{ form.password.label }}:
        <td>{{ form.password(size=25, autocomplete="off") }}
        <td>{% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      <tr>
        <td class="rightalign">{{ form.password2.label }}:
        <td>{{ form.password2(size=25, autocomplete="off") }}
        <td>{% for error in form.password2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </table>

    <p>{{ form.submit() }}</p>
</form>


{% endblock %}
