<html>
  <head>
    {% include "std-headers.html" %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/relative-popups.css') }}">
  </head>
  <body>

    {% include "banner.html" %}

{% block content %}

{% if tag %}
  <h1>NM BillTracker: Bills tagged
  {% if colorfcn %}
    &ldquo;<span class="colortag" style="background: {{ colorfcn(tag)[tag] }}">{{ tag }}</span>&rdquo;
  {% else %}
    &ldquo;{{ tag }}&rdquo;
  {% endif %}
  </h1>
{% else %}
<h1>NM BillTracker: Bill Tags</h1>
{% endif %}

<div class="buttonholder">
<p>
{% if alltags %}
View status of tagged bills:
{% else %}
No tags yet. You can be the first to create one!
{% endif %}

{% for t in alltags %}
  {% if t != tag %}
    <a href="/tagged_bills/{{ t }}" class="buttonlike" style="background: {{ colorfcn(t)[t] }}">{{ t }}</a>
  {% endif %}
{% endfor %}

{% if tag %}
<br>
or <a href="/tags" class="buttonlike">View all tags</a>
{% endif %}
</div>

<div class="buttonholder">
<p>
{% if alltags %}
Add or change tags here, or focus on a specific tag:
{% else %}
No tags yet. You can be the first to create one!
{% endif %}

{% for t in alltags %}
  {% if t != tag %}
    <a href="/tags/{{ t }}" class="buttonlike" style="background: {{ colorfcn(t)[t] }}">{{ t }}</a>
  {% endif %}
{% endfor %}

{% if tag %}
<br>
or <a href="/tags" class="buttonlike">View all tags</a>
{% endif %}
</div>

{% if user and not user.is_anonymous %}
  <form method="POST" action="/tags">
    {{ form.hidden_tag() }}
    <input type="hidden" id="yearcode" name="yearcode" value="{{ session['yearcode'] }}">

    Create a new tag:
    {{ form.newtagname(size=15) }}
    {{ form.submit() }}

    <i>(Only letters, numbers, dash, underscore, 15 characters max)</i><br />

    {% for error in form.newtagname.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}

    <p>
    Note: <strong>tags are public</strong>.
    Anyone can see and change anyone else's tags.
    </p>
  </form>
{% endif %}

{% if tag %}
<form method="POST" action="/tags/{{ tag }}">
{% else %}
<form method="POST" action="/tags">
{% endif %}

<p>
Tags can only apply to bills users are tracking.
If you don't see a bill in the lists below, maybe nobody is tracking it yet.
</p>

<p>
<strong>Changes don't take effect until you click:</strong>
<input type=submit name="update" value="Update tags">
</p>

{% import "listbills.html" as listbills %}

<input type="hidden" id="tag" name="tag" value="{{ tag }}">

{% for header in bill_lists %}
  <h2>{{ header }}</h2>
  {{ listbills.listbills(bill_lists[header], user,
                         extras={ "tag": tag, "popular": None, "track": None,
                                  "alltags": alltags, "colorfcn": colorfcn }) }}
{% endfor %}

<p>
<strong>Changes don't take effect until you click:</strong>
<input type=submit name="update" value="Update tags">
</p>

</form>

{% endblock %}

{% include "footer.html" %}

</body>
</html>
