{% extends "base.html" %}

{% block content %}

{% if tag %}
<h1>NM BillTracker: Edit Bills tagged &ldquo;{{ tag }}&rdquo;</h1>
{% else %}
<h1>NM BillTracker: Bill Tags</h1>
{% endif %}

<p>
Edit a tag:

{% for t in alltags %}
  {% if t != tag %}
    <a href="/tags/{{ t }}" class="buttonlike">{{ t }}</a>
  {% endif %}
{% endfor %}

{% if tag %}
or <a href="/tags" class="buttonlike">View all tags</a>
{% endif %}

<form method="POST" action="/tags">
<input type="hidden" id="yearcode" name="yearcode" value="{{ session['yearcode'] }}">

<p>
Create a new tag:
{% if badtag %}
<input type="text" name="newtag" id="newtag" size="12" value="{{ badtag }}">
{% else %}
<input type="text" name="newtag" id="newtag" size="12">
{% endif %}

<input type=submit name="submitnewtag" value="Create new tag">

<i>(Only letters, numbers, dash, 15 characters max)</i>
</p>

<p>
Note: <strong>tags are public</strong>.
Anyone can see and change anyone else's tags.

<p>
Tags only apply to bills users are tracking.
If you don't see a bill in the list below, maybe nobody is tracking it yet.
</p>

{% if tag %}
<p>
<input type=submit name="update" value="Update bills with tag '{{ tag }}'">
</p>
{% endif %}

{% import "listbills.html" as listbills %}

<input type="hidden" id="tag" name="tag" value="{{ tag }}">

{% if tag and user and not user.is_anonymous %}
{% set checkverb = "Tag" %}
{% else %}
{% set checkverb = "" %}
{% endif %}

{% for header in bill_lists %}
  <h2>{{ header }}</h2>
  {{ listbills.listbills(bill_lists[header], user, extras={ "tag": tag, "popular": None }, checkverb=checkverb) }}
{% endfor %}

<p>
{% if tag %}
<input type=submit name="update" value="Update bills with tag '{{ tag }}'">

</form>
{% endif %}

{% endblock %}

