{% extends "base.html" %}

{% block content %}
<h1>About the New Mexico Bill Tracker</h1>

<p>
BillTracker is a free service for following pending legislation,
written by Akkana Peck.
<p>
I wrote it because I was frustrated at how difficult it is
to find out when bills are actively being considered in the
legislature. I wanted something I could use to track bills
and let me know when important issues are coming up for debate
or for a vote.
<p>
And besides, if I help make it easier for people to keep track
of what our government is doing, maybe more people will be able to
take an active role in New Mexico's government
and help our state move in the right direction.
(I'm also the webmaster for the
League of Women Voters of New Mexico,
which has lots of relevant legislative links on the
<a href="https://www.lwvnm.org/Action/">LWVNM Action page</a>.)
<p>
BillTracker collects email addresses so it can send you updates.
I promise I won't do anything nefarious with your email address;
it is used only by billtracker during the legislative session.
If you don't want updates and just want to check your bill
page online, you can leave the email field blank.

<p>
BillTracker is free open source software, using Python and Flask as a backend.
<a href="https://github.com/akkana/billtracker">Billtracker on GitHub</a>.
Contributions are welcome!

<p>
Right now BillTracker only works in New Mexico, but it should be
fairly easy to extend it to any state that has bill status online.
NMBillTracker uses Python to scrape the New Mexico Legislative website;
if you're interested in using BillTracker in your state, of course
you can fork the code, but I'd also be happy to work with you to
integrate scrapers for other states into the BillTracker base source.
Drop me a line.

<h1>Known Bugs</h1>
<p>
Currently BillTracker is still in early development, and there are
some features that aren't implemented yet:
<ul>
<li>No daily emails yet: you can only view bills on the web.
Coming soon!
<li>There's no way to tell whether a bill has Amendments or a FIR or LESC
report: links are always shown. That's because the legislative website
now serves zero-length files if you request any PDF. I hope I can find a
way around this besides downloading the PDFs every time a bill is checked.
<li>Probably lots of other stuff I haven't noticed yet.
</ul>
<p>
Problems, pet peeves or wish list?
<a href="http://shallowsky.com/mailme.html">Let me know.</a>

{% endblock %}
