{% extends "base.html" %}

{% block content %}

<h1>Track Bills</h1>

<p>
{% if addedbill is defined and addedbill %}
You're now tracking {{ addedbill.billno }}: {{ addedbill.title }}
{% endif %}

<form action="" method="post">
{{ form.hidden_tag() }}
<p>
{{ form.billno.label }}   {{ form.billno(size=5, autofocus=true) }}
<br>
  {% for error in form.billno.errors %}
      <span style="color: red;">[{{ error }}]</span>
  {% endfor %}
</p>
<p>{{ form.submit() }}</p>
</form>

<hr>

<p>
You're currently following:
<p>

{% if user is defined and user.bills is defined and user.bills|length > 0 %}
  {% for bill in current_user.bills %}
    <br />{{ bill.billno }}: {{ bill.title }}
  {% endfor %}
{% else %}
no bills.
{% endif %}

{% endblock %}
