{% extends "base.html" %}

{% block content %}

<form method="POST" action="/track_untrack">
<input type="hidden" id="returnpage" name="returnpage" value="allbills">

<h1>All Bills That Have Been Filed</h1>

{% set bill_lists = [
  { 'thelist': newbills,
    'header': """Recently Filed Bills:
  <p>
  These are the bills since the last time you checked this page.
  <br />
  (Warning: that means that if you leave this page and come back,
  or reload the page, these bills will no longer be there!
  So check them now.)""",
    'alt': "Nothing new since you last looked."
  },
  { 'thelist': oldbills,
    'header': "Older bills:",
    'alt': ""
  }
]
%}

{% for bill_list in bill_lists %}
{% if bill_list['thelist'] is defined and bill_list['thelist']|length > 0 %}

<h3>{{ bill_list['header'] | safe }}</h3>

<table class="bill_minilist">
 <thead>
  {% if user %}
    <tr><th><th><th>
    <th colspan=2><input type="submit" value="Track / Untrack">

    <tr><th>Bill <th>Title <th>Bill text
    <th>Track <th>Untrack  <th>Users
  {% endif %}
 </thead>

 <tbody>
  {% for bill_line in bill_list['thelist'] %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
      <td>{{ bill_line[0] }}
      <td><a href="{{ bill_line[2] }}" target="_blank">{{ bill_line[1] }}</a>
      <td><a href="{{ bill_line[3] }}" target="_blank">{{ bill_line[0] }} text</a>
      {% if user %}
        {% if user.tracking(bill_line[0]) %}
          <td>
          <td><input type="checkbox" class="untrack" name="u_{{ bill_line[0] }}">
        {% else %}
          <td><input type="checkbox" class="track" name="f_{{ bill_line[0] }}">
          <td>
        {% endif %}
      {% else %}
          <td> <td>
      {% endif %}

      {% set num_tracking = num_tracking_fcn(bill_line[0]) %}
      <td>{% if num_tracking %} {{ num_tracking }} {% else %} &nbsp; {% endif %}

  {% endfor %}

  {% if user %}
    <tr><th><th><th><th>
    <th colspan=2><input type="submit" value="Track / Untrack">
  {% endif %}

</table>

{% else %}
  <p>
  {{ bill_list['alt'] | safe }}

{% endif %}

{% endfor %}

<p>
Source: This comes from the
<a href="https://www.nmlegis.gov/Legislation/Legislation_List?Session=57">New
Mexico Legislature's Legislation Listing</a>.

{% endblock %}

