{% extends "base.html" %}

{% block content %}

<h1>All Bills</h1>

{% if newlines is defined and newlines|length > 0 %}
  <h2>Recently Filed Bills</h2>

  <p>
  These are the bills since the last time you checked this page.
  <br />
  (Warning: that means that if you leave this page and come back,
  or reload the page, these bills will no longer be there!
  So check them now.)

  <ul>

  {% for line in newlines %}
    <li><a href="{{ line[2] }}" target="_blank">{{ line[0] }}: {{ line[1] }}</a>
        &bull; (<a href="{{ line[3] }}" target="_blank">text of the bill</a>)
  {% endfor %}

  </ul>

{% else %}
  <p>
  Nothing new since you last looked.
{% endif %}

<h2>Older</h2>

{% if oldlines is defined and oldlines|length > 0 %}
  <ul>

  {% for line in oldlines %}
    <li><a href="{{ line[2] }}" target="_blank">{{ line[0] }}: {{ line[1] }}</a>
        &bull; (<a href="{{ line[3] }}" target="_blank">text of the bill</a>)
  {% endfor %}

  </ul>

{% endif %}

<p>
Source: This comes from the
<a href="https://www.nmlegis.gov/Legislation/Legislation_List?Session=57">New
Mexico Legislature's Legislation Listing</a>.

{% endblock %}

