<html>
  <head>
    {% if title %}
    <title>{{ title }} - Bill Tracker</title>
    {% else %}
    <title>Welcome to the New Mexico Bill Tracker</title>
    {% endif %}

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>

    <!-- As usual, couldn't get this to work with pure CSS
         but it works fine with a table.
     -->
    <table id="banner">
      <tr>
        <td style="width:238px">
          <img src="/static/img/trackerdog.png" align=left width=238 height=150>
        <td id="bannermiddle">
          <h1>The New Mexico Bill Tracker</h1>
          <p>
          <i>Track bills you're interested in during the NM legislative session.</i>
        <td style="width:150px"><img src="/static/img/scroll-pen.png" align=left width=150 height=150>
    </table>

    <p>
    <div class="toolbar">
      <a href="{{ url_for('index') }}">Home</a> &bull;
      <a href="{{ url_for('addbills') }}">Track more bills</a> &bull;
      <a href="{{ url_for('allbills') }}">All bills</a> &bull;
      {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
      {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %} &bull;
      <a href="{{ url_for('about') }}">About</a>
    </div>

    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="error">
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
