<html>
  <head>
    {% if title %}
    <title>{{ title }} - Bill Tracker</title>
    {% else %}
    <title>New Mexico Bill Tracker</title>
    {% endif %}

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  </head>
  <body>

    <!-- Banner: as usual, couldn't get this to work with pure CSS
         but it works fine with a table. -->
    <table id="banner">
      <tr>
        <td id="bannerleft">
          <img src="/static/img/trackerdog-emboss.jpg" align=left>
        <td id="bannermiddle">
          <h1>The New Mexico Bill Tracker</h1>
          <p>
          <i>Track bills you're interested in during the NM legislative session.</i>
        <td id="bannerright">
          <img src="/static/img/scroll-pen.png">
    </table>

    <p>
    <div class="toolbar">
      {% if current_user and not current_user.is_anonymous %}
        <b>{{ current_user.username }}:</b> &nbsp;
      {% endif %}
      <a href="{{ url_for('index') }}">Home</a> &bull;
      <a href="{{ url_for('addbills') }}">Track more bills</a> &bull;
      <a href="{{ url_for('allbills') }}">All bills</a> &bull;
      {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
      {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %} &bull;
      <a href="{{ url_for('user_settings') }}">Settings</a> &bull;
      <a href="{{ url_for('about') }}">About</a>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="error">
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
