<h2>New Mexico Bill Tracker Daily Email</h2>

<p>
You can add or remove bills from your list, or change your settings,
at: <a href="{{ url_for('bills', _external=True) }}">The New Mexico Bill Tracker</a>.

<h2>Bills {{ recipient.username }} is tracking:</h2>

<table class="bill_list">
{% for bill in bill_list %}
<tr class="{{ loop.cycle('odd', 'even') }}">{{ bill.show_html() | safe }}</tr>
{% endfor %}
</table>

<hr>
This is the daily (once the session starts) email from
<a href="{{ url_for('bills', _external=True) }}">The New Mexico Bill Tracker</a>.
If you have a problem with these emails, contact
<a href="mailto:akkana@nmbilltracker.com">Akkana</a>.
