{% extends "base.html" %}

{% block content %}

<form method="POST" action="{{ request.url }}">
<input type="hidden" id="yearcode" name="yearcode" value="{{ session['yearcode'] }}">
<input type="hidden" id="passwd" name="passwd" value="{{ passwd }}">

<p>
<input type=submit name="update" value="Update tracking sheet">
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href="/trackers/{{ whichtracker }}">View {{ whichtracker }}</a>
<p>

<table id="billtable" class="bill_minilist">
 <thead>
   <tr>
     <th>Bill # <th>Name/Description <th>Sponsor <th>Comments <th>Oppose?
     </tr>
</thead>
<tbody>

  {% for topic in trackinglist %}
    <tr><th colspan=5>{{ topic['topic'] }}</th></tr>
    {% for bill in topic['bills'] %}
    <tr>
      <td><input name="billno||{{ bill['id'] }}" size="7" type="text" value="{{ bill['billno'] }}"></td>
      <td><input name="title||{{ bill['id'] }}" size="50" type="text" value="{{ bill['title'] }}"></td>
      <td><input name="sponsor||{{ bill['id'] }}" size="20" type="text" value="{{ bill['sponsor'] }}"></td>
      <td><input name="comments||{{ bill['id'] }}" size="35" type="text" value="{{ bill['comments'] }}"></td>
      <td><input name="oppose||{{ bill['id'] }}" type="checkbox"
        {% if bill['oppose'] %}
            checked
        {% endif %}
                 class="track">
    </tr>
    {% endfor %}

    {# Would be nice to add some blank fields in noscript, but it turns
       out you can't use <noscript> inside a table, the rows all end up
       above the table. So use a JS-dependent button for adding new fields,
       but disable the button if JS is off.
    #}
    <tr><td>
    <button type="button" id="newrow-btn-{{ topic['topic'] }}" disabled
            onclick="newfield('{{ topic['topic'] }}');">Add row</button>
    </td></tr>
<script type="text/javascript">
  document.getElementById('newrow-btn-{{ topic['topic'] | safe }}').disabled = false;
</script>

  {% endfor %}

</tbody>
</table>

<p>
<input type=submit name="update" value="Update tracking sheet">

</form>

<script type="text/javascript">
function newfield(topic) {
    // The button that got us here:
    var btn = document.getElementById('newrow-btn-' + topic);
    console.log("button:", btn);
    var rowtr = btn.parentElement.parentElement;
    var rowIndex = rowtr.rowIndex;
    console.log("rowIndex:", rowIndex);

    // We also need the index in the bill list, which we can get from
    // the row just above the button.
    console.log("rowtr:", rowtr);
    var prevSib = rowtr.previousSibling;
    while (prevSib && prevSib.nodeType != 1)
        prevSib = prevSib.previousSibling;
    console.log("prev sib (should be a tr):", prevSib);
    var lastBillnoInput = prevSib.getElementsByTagName('input')[0]
    // This should be the last billno field, which should have an id like
    // billno||Topic Name||number
    var nameParts = lastBillnoInput.name.split('||');
    // Gives an array [ 'billno', TOPICNAME, number_as_int)
    console.log("nameParts:", nameParts, "from splitting", lastBillnoInput.name);
    var nextInt = parseInt(nameParts[2]) + 1;
    console.log("nextInt:", nextInt);

    var newRow = billtable.insertRow(rowIndex);
    var newCell  = newRow.insertCell();
    newCell.innerHTML = '<input name="billno||' + topic + '||' + nextInt
                         + '" size="7" type="text" value="">';
    newCell  = newRow.insertCell();
    newCell.innerHTML = '<input name="title||' + topic + '||' + nextInt
                         + '" size="50" type="text" value="">';
    newCell  = newRow.insertCell();
    newCell.innerHTML = '<input name="sponsor||' + topic + '||' + nextInt
                         + '" size="20" type="text" value="">';
    newCell  = newRow.insertCell();
    newCell.innerHTML = '<input name="comments||' + topic + '||' + nextInt
                         + '" size="35" type="text" value="">';
    newCell  = newRow.insertCell();
    newCell.innerHTML = '<input name="oppose||' + topic + '||' + nextInt
                         + '" type="checkbox" class="track">'
}
</script

{% endblock %}
