{% macro edit_tags_button(bill, alltags, colorfcn) %}

<label for="toggle-modal" class="btn-modal_open">
  Edit
</label>

<div class="modalCheckbox">
  <input type="checkbox" id="toggle-modal">
  <!--Click outside the modal to close it-->
  <label for="toggle-modal" class="modal-overlay"></label>
  <div class="modal-dialog">
    <div class="modal-header">
      <label for="toggle-modal" class="btn-modal_close">x</label>
      <h2>Edit tags for {{ bill.billno }} {{ bill.title }}</h2>
    </div>
    <div class="modal-body">
      <p>
      <h4>Tags:</h4>

{# For now, tag colors aren't used for the checkboxes
   because I haven't figured out how to make them work.
{% set alltagcolors = colorfcn("all") %}
 #}

{% if bill.tags %}
  {% set billtags = bill.tags.split(',') %}
{% else %}
  {% set billtags = [] %}
{% endif %}

{% for tag in alltags %}
  {% set togglename = bill.billno + "-" + tag %}

  <label class="toggle">
    <input type="checkbox" class="toggle-checkbox"
    {% if tag in billtags %}
           checked
    {% endif %}
           id="{{ togglename }}-id" name="{{ togglename }}-name">
    <span class="toggle-switch"></span>
    <span class="toggle-label">{{ tag }}</span>
  </label>
  <br>

{% endfor %}

  <p>
      <label for="toggle-modal" class="btn-modal_close">Close</label>

    </div>
  </div>
</div>

{% endmacro %}
