{% extends "base.html" %}


{% block content %}

<h1>NM Bill Tracker Help</h1>

<ul>
  <li><a href="#howtrack">How Do I Track a New Bill, or Stop Tracking a Bill</a></li>
  <li><a href="#newbills">How Do I Find Out About New Bills?</a></li>
  <li><a href="#recently">Can I Find Out What Happened Recently?</a></li>
  <li><a href="#tags">What are "Popular" and "Tags"?</a>
  <li><a href="#pastsessions">Can I Look at Bills from Past Sessions?</a></li>
  <li><a href="#advocate">How Do I Advocate For or Against a Bill?</a></li>
  <li><a href="#schedules">A bill I'm following says it's scheduled for a day but doesn't have a time.<br>Or it has a time, but when I looked up the committee's schedule it showed a different time. What's up with that?</a>
  <li><a href="tabled">What's this "MAY BE TABLED"? Is it tabled or isn't it?</a></li>
  <li><a href="#nmlegisglossary">What Do All Those Weird Terms Mean in a Bill's Status?</a></li>
  <li><a href="#anonuse">Can I use the Bill Tracker Without Creating an Account?</a></li>
  <li><a href="#emailaddr">How Do I Add, Remove or Change My Email Address?</a></li>
  <li><a href="nmlegiswatch">What's with the NMLegisWatch links? Is NMLegisWatch the same as NMBillTracker?</a>
  <li><a href="#newtab">Some Links Open in a New Tab</a></li>
  <li><a href="#links">Helpful Links</a></li>
</ul>

<p>
A few tips on things that might not be obvious:

<a name="howtrack"></a>
<h2>How Do I Track a New Bill, or Stop Tracking a Bill?</h2>
<p>
There are two ways to add bills to your tracking list,
or remove them from the list.
<p>
The easiest way is the <a href="/allbills">All/New Bills</a> page,
which lists the titles of all the bills in the current session..
Bills you haven't seen before will be listed first, under <b>New Bills</b>.
All other bills will be listed below the new bills.
<p>
Each bill has either a <i>Track</i> button (if you're not yet tracking it)
or an <i>Untrack</i> button. Click the Track/Untrack buttons on as many
bhills as you want to add or remove, then click <i>Track/Untrack</i>.
<p>
If you know the designation (e.g. SB1) of a specific bill you want to track,
the <a href="/addbills">Track bill #</a> page lets you type in a
bill designation then click <i>Track a Bill</i> to add it to your list.
That page also shows all the bills you're tracking,
so you can remove bills from your list by marking the <i>Untrack</i>
button next to the bills you want to remove, then clicking
<i>Untrack Bills</i>.

<a name="newbills"></a>
<h2>How Do I Find Out About New Bills?</h2>
<p>
The <a href="/allbills">All/New Bills</a> page keeps track of the
bills you've seen,
and will show you new bills you haven't seen yet at the top,
along with bills that have had some sort of major change.
Older bills are listed below that.
I usually check this page daily during the session.

<p>
You can also go to the <a href="/popular">Popular Bills</a> page,
where you can get an idea of which bills other people are tracking.
It's a good way to notice important bills you might not otherwise have
noticed.

<a name="recently"></a>
<h2>Can I Find Out What Happened Recently?</h2>
<p>
On the home screen when you're logged in, click on
<b>Sort by: [Recent Action]</b> (to the upper right of your bill list)..
You'll see your bill list sorted so that bills that changed yesterday
are listed first. The <i>Status</i> of each bill should tell you what
happened to it.
<p>
Unfortunately, this isn't always reliable: bills on the legislative
website aren't always updated promptly, so the most recent action may
not be shown yet, or may be shown with the wrong date.
<p>
Clicking <b>Sort by: [Status]</b> will go back to the normal sort order,
where bills scheduled to be discussed today are listed first.
<p>
The <i>Active Bills</i> view isn't as easy as just having a list of
all the actions yesterday, including bills that were scheduled
yesterday but got no action.
If anyone knows a way to get that information from the legislative website,
please let me know. There doesn't seem to be any way of seeing committee
reports, either, or minutes of the House or Senate floor sessions.
<p>
<b>Sort by: [Passed]</b> sorts your bill list to prioritize
bills that have passed, are signed or chaptered.
It's most useful after the session has ended.

<a name="tags"></a>
<h2>What are "Popular" and "Tags"?</h2>
<p>
The "Popular" page shows how many people are tracking each bill.
(Of course, this may also mean a bill is <em>un</em>popular, and
people are tracking it because they oppose it.)
It's one way to find out which bills other people think are important
during a session; it can call your attention to a bill you hadn't
noticed yet.
<p>
Tags are new for 2023. Anyone can make up a tag and tag some bills.
If you're interested in a specific topic, like healthcare or guns,
you can tag all the bills related to that topic; or maybe someone else
has already made a tag for you, and you can find all the healthcare
bills that other people have tagged.
<p>
You can also use tags to make
organizational lists of bills: for instance, the <em>LWVNM</em> tag
will apply to all bills on the LWVNM tracking sheet.
<p>
Tags are global, not per-user.
Currently, anyone can tag or un-tag any bill with any tag.
Please play nice, cooperate and don't try to subvert tags other
people are using; but do feel free to add tags to new bills as needed.
This is an experiment. If it turns out people don't play nice,
I'll add more controls.
<p>
You have to be logged in to use tags, but anyone can view them.

<a name="pastsessions"></a>
<h2>Can I Look at Bills from Past Sessions?</h2>
<p>
Look for the <b>change session</b> link in the yellow
toolbar at the top of any BillTracker page. Whatever session you
choose will be remembered until you change back to the current one.

<a name="advocate"></a>
<h2>How Do I Advocate For or Against a Bill?</h2>
<p>
The <a href="https://www.lwvnm.org/Action/">LWVNM Action Page</a>
keeps up-to-date information on how to watch committee meetings
and House and Senate proceedings, and how to speak for or against
a bill you care about.
<p>
Beware: the bill list and schedule shown on a committee's
page may be out of date, and schedules can change at any time.
The <a href="https://www.nmlegis.gov/Calendar/Session">PDF calendars</a>
seem to be updated more frequently.
If you don't see the committee you're after
on that page, it may be listed under <i>House Committee Schedule</i>
or <i>Senate Committee Schedule</i>. And even then, committees tend
to juggle the order of bills rather than following the schedule.
<p>
If you just want to view a committee hearing and not speak,
you can watch ongoing hearings or access recorded hearings through
<a href="http://sg001-harmony.sliq.net/00293/harmony">sliq.net</a>.
Be aware that with sliq, you won't be able to vote for or against a bill,
so if you feel strongly about a bill, joining with Zoom or going to
the Roundhouse in person is recommended.
<p>
On the House and Senate floors, the "Third Reading" is when bills
are discussed and voted on. There's also a "Temporary Calendar".
The BillTracker lists bills as listed as scheduled if they're on
either the Third Reading or the Temporary Calendar list, since they
could come up either way.

<a name="schedules"></a>
<h2>A bill I'm following says it's scheduled for a day but doesn't have a time. Or it has a time, but when I looked up the committee's schedule it showed a different time. What's up with that?</h2>
<p>
Bill pages on the legislative website don't tell you when a bill is
scheduled (the original reason for starting the BillTracker project).
To find that out, you have to look up the committee, find its next meeting
and see if the bill is listed.

<p>
There are five places committee meeting times appear:
<ul>
<li>a bill's page may say something like "Scheduled for Senate Rules
    Committee on 2/27/2023". That's only a date; it doesn't tell you the time.
<li>the committee's HTML page, the page you get when you click on a
    committee name or when you click on the link on the bill page</li>
<li>the committee's PDF schedule, the page you get by clicking on
"What's Happening?" on nmlegis, then clicking on the committee name</li>
<li>the "House (or Senate) Committee Schedule (PDF)" on the
    "<a href="https://www.nmlegis.gov/Calendar/Whats_Happening">What's
    Happening</a>?" page</li>
<li>the "House (or Senate) Committee Schedule (HTML)" on the
    "<a href="https://www.nmlegis.gov/Calendar/Whats_Happening">What's
    Happening</a>?" page</li>
</ul>

<p>
These aren't just different formatting of the same information;
they're all different, apparently updated by different people at
different times, and the meeting times for the same committee are
often different. They also don't have the same bill lists: a bill
may show up in one schedule but not in the other three.
<p>
The BillTracker attempts to consider all of these. When there's a
conflict, it tries to show the earliest date/time it knows about.
But it doesn't always succeed, and if you feel strongly about watching
a committee meeting, you should probably check all four of the schedules
and make your own guess as to when it's really meeting and whether your
bill is on the schedule.

<a name="tabled"></a>
<h2>What's this "MAY BE TABLED"? Is it or isn't it?</h2>
<p>
Unfortunately, some things are never put on the legislative website,
so there's no way to tell whether a bill is tabled. Some of the House
tabling reports appear in a
<a href="https://nmlegis.gov/Sessions/23%20Regular/Tabled_Reports/">Tabled_Reports</a>
directory on nmlegis, but there's nothing for Senate bills, and sometimes
bills can come back from being tabled.

<a name="nmlegisglossary"></a>
<h2>What Do All Those Weird Terms Mean in a Bill's Status?</h2>
<p>
If you mouse over the Status field, you'll see a popup with
an  expanded explanation of the bill's actions so far.
<p>
Some of the abbreviations are explained in
<a href="https://www.nmlegis.gov/Legislation/Action_Abbreviations" target="_blank">Action
Abbreviations</a> or
<a href="https://www.nmlegis.gov/Glossary" target="_blank">Glossary</a>,
but here are a few that aren't explained clearly:
<dl>
<dt>Chaptered
  <dd>Signed by the Governor and given a "chapter number"
<dt>Not Printed
  <dd>Ruled "not germane" in a 30-day session, so the bill is dead
<dt>Signed
  <dd>May mean it's signed by one or both houses, not the governor.
  But some legislation doesn't require the Governor's signature.
</dl>

<p>
Decoding a bill's status is a real art. For instance, a status might
say something like:<br>
<code>SCORC/SJC-SCORC [15] DNP-CS/DP-SJC [21] DP/a - PASSED/S (40-0) [12] HHHC-HHHC [13] DP/a [15] PASSED/H (59-0) [24] s/cncrd SGND BY GOV (Apr. 3) Ch.227.</code>code>
<p>
Translation:
<table class="definitions">
<tr>
<th>SCORC/SJC-SCORC</th>
<td>
The bill started in the SCORC (Senate Corporations &amp;
Transportation) committee, with a referral to SJC (Senate Judiciary
Committee) afterward.
<tr>
<th>[15] DNP-CS/DP-SJC</th>
<td>
On legislative day 15, it was given a Do Not Pass recommendation,
but a Do Pass recommendation on Committee Substitution, which means
the committee made suggested amendments to the bill, then it was passed
to SJC.
<tr>
<th>[21] DP/a - PASSED/S (40-0)</th>
<td>
On day 21, SJC passed it, and then the Senate passed it 40-0.
<tr>
<th>[12] HHHC-HHHC [13] DP/a</th>
<td>
Meanwhile, in the House, the companion bill moved on day 12 to HHHC
(House Health and Human Services Committee), which on day 13 recommended
a Do Pass with Amendments (DP/a).
<tr>
<th>[15] PASSED/H (59-0)</th>
<td>
On day 15, the bill passed 59-0 in the House.
<tr>
<th>[24] s/cncrd SGND BY GOV (Apr. 3) Ch.227</th>
<td>
On day 24, the Senate concurred (with the House amendments),
and the bill was signed by the Governor.
</table>
<p>
For a list of these abbreviations, including the committee abbreviations, see
<a href="https://www.nmlegis.gov/Legislation/Action_Abbreviations"
   target="_blank">NMLegis' Action Abbreviations</a>.
<p>
Another useful reference is
<a href="https://www.nmlegis.gov/publications/legislative_procedure/joint_rules.pdf">Joint
Rules</a> which explains some of the more obscure codes that don't
occur very often.

<a name="anonuse"></a>
<h2>Can I use the Bill Tracker Without Creating an Account?</h2>
<p>
The main purpose of the Bill Tracker is to keep an eye on your specific
list of bills, and most of its pages don't make sense without that.
But the <b>All Bills</b> page is available without logging in,
offering links to every bill filed in the current session along with
links to the bill's page on NMLEGIS and the text (contents) of the bill.
Of course, if you're not logged in, the page won't keep track
of which bills are new to you.

<a name="emailaddr"></a>
<h2>How Do I Add, Remove or Change My Email Address?</h2>
<p>
You can change your password or email address in
<a href="/settings">Settings</a>.
Email addresses must be confirmed: you will get an email from
nmbilltracker.org with a confirmation code.
You won't receive any email alerts until you confirm the email address,
though you can still use the Bill Tracker.
<p>
If you no longer want to receive email alerts, you can clear your
email address.

<a name="nmlegiswatch"></a>
<h2>What's with the NMLegisWatch links? Is NMLegisWatch the same as NMBillTracker?</h2>
<p>
<a href="https://nmlegiswatch.org/">NMLegisWatch</a> is a separate project
from the NM Bill Tracker, but with similar goals. We share techniques and
have different strengths, and cooperate rather than competing.
The NM Bill Tracker links to pages that NMLegisWatch
does particularly well, like pages for bills, rather than duplicating that
effort and re-writing those pages.

<a name="newtab"></a>
<h2>Some Links Open in a New Tab</h2>
<p>
Most links on the Bill Tracker to a bill, committee or legislator
will open in a new tab or window, so your Bill Tracker page is still available.

<a name="links"></a>
<h2>Helpful Links</h2>
<p>
The <a href="/links">Links page</a> has links I've found useful for
following the legislative session.
For instance, for committees that don't list
their schedules on the committee's page, you can find a list of
<i>all</i> committee calendars, as well as the House and Senate
calendars, on the Links page.
<p>
Many of the links go to the League of Women Voters of New Mexico website.
The Bill Tracker is not an official LWV project, but it is run by the
LWVNM webmaster with cooperation from the League.

<h2>Other Questions?</h2>
<p>
If there's something you find confusing in the Bill Tracker that you
think should be documented here,
<a href="http://shallowsky.com/mailme.html">contact Akkana</a>.


{% endblock %}
