{% extends "base.html" %}

{% block content %}

<h1>Bills {{ current_user.username }} is tracking:</h1>
<p>
{% if current_user.last_check is not defined or not current_user.last_check %}
This is your first check.
{% else %}
You last checked at {{ current_user.last_check.strftime('%H:%M %m/%d/%Y') }},
but this will also show any bills that changed in the last day.
{% endif %}

<h2 class="scriptonly">Bills With Recent Changes:</h2>

<table id="changed_bills" class="bill_list scriptonly">
<tbody>
<tr><td id="busywait">(Checking ...)
</tbody>
</table>

<p>
<h2 class="scriptonly">Bills That Haven't Changed:</h2>

<table id="unchanged_bills" class="bill_list">
<tbody>
  {{ current_user.show_bill_table(current_user.bills) | safe }}
</tbody>
</table>

<p>
<b><a href="/addbills">Follow
{% if current_user.bills is defined and current_user.bills|length > 0 %}
more
{% else %}
some
{% endif %}
bills</a></b>

<script type="text/javascript">
  // Show all class="scriptonly" elements:
  var classonly = document.getElementsByClassName("scriptonly");
  for (i=0; i < classonly.length; ++i)
    classonly[i] .style.display = "initial";

  // loadbills.js needs to know the current username:
  var current_user = "{{ current_user.username }}";
</script>
<script src="/static/js/loadbills.js"></script>

{% endblock %}
