{% extends "base.html" %}

{% block content %}

<h1>Password Reset</h1>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <fieldset class="captcha">
        <legend>Are you a human?</legend>
        <p>
            {{ form.capq(size=64) }}<br>
            {{ form.capa(size=64) }}<br>
            {% for error in form.capa.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </fieldset>
    <p>{{ form.submit() }}</p>
</form>

{% endblock %}
