<html>
  <head>
    {% include "std-headers.html" %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/popup-toggles.css') }}">

    <script>
     // checkbox_clicked is called whenever one of the checkboxes inside
     // the modal dialog is called, to give visual indications of what
     // changed and the need to click the Update button.
      function checkbox_clicked(checkbox) {
        // First find the table row for this bill, outside the checkbox dialog
        var tr = checkbox;
        while (tr.nodeName != 'TR') {
          if (tr.nodeName == 'BODY') {
            console.log("checkbox_clicked(): Couldn't find parent tr");
            return;
          }
          tr = tr.parentElement;
        }
        /* Change all tr children's (td's) backgrounds to light red */
        for (child of tr.children)
          child.style.background = '#fcc';

        /* Highlight the need to click Update */
        for (p of document.getElementsByClassName("no-changes-until-click")) {
          p.style.background = '#fcc';
          for (btn of p.getElementsByClassName("update-tags-submit")) {
            btn.classList.add("update-tags-submit-modified");
          }
        }

        /* Adjust the display of which tags are set */
        // First, get the state of checkbox and its siblings
        var modal_body = checkbox;
        while (modal_body.className != 'modal-body') {
          if (modal_body.nodeName == 'BODY') {
            console.log("checkbox_clicked(): Couldn't find modal-body");
            return;
          }
          modal_body = modal_body.parentElement;
        }

        var colortag_holder = tr.getElementsByClassName("colortag-holder")[0];
        if (! colortag_holder) {
          console.log("Couldn't find colortag_holder");
          return;
        }

        // The checkbox has an id of something like "HJR1-privacy-id"
        var checkboxTag = checkbox.id.split('-')[1];
        if (checkbox.checked) {
          /* Add a colortag for a newly toggled button */
          console.log("Will add", checkboxTag);
          var span = document.createElement("span");
          span.textContent = checkboxTag;
          //span.innerHTML = checkboxTag;
          span.className = "colortag";
          span.style.background = "blue";
          span.style.color = "yellow";
          colortag_holder.appendChild(span);
        }
        else {
        /* Remove colortags for un-toggled buttons */
          for (tag of colortag_holder.getElementsByClassName("colortag")) {
            var tagname = tag.textContent;
            if (tagname == checkboxTag) {
            console.log("Will remove", tag);
              tag.remove();
            }
          }
        }
      }
    </script>

  </head>
  <body>

    {% include "banner.html" %}

{% block content %}

{% if tag %}
  <h1>NM BillTracker: Bills tagged
  {% if colorfcn %}
    &ldquo;<span class="colortag" style="background: {{ colorfcn(tag)[tag] }}">{{ tag }}</span>&rdquo;
  {% else %}
    &ldquo;{{ tag }}&rdquo;
  {% endif %}
  </h1>
{% else %}
<h1>NM BillTracker: Bill Tags</h1>
{% endif %}

<div class="buttonholder">
<p>
{% if alltags %}
You can change tags for bills on this page,
or get an overview of tagged bills.
<p>
If you prefer to <strong>focus on a specific tag</strong>,
use one of these buttons:<br />
{% else %}
No tags yet. You can be the first to create one!
{% endif %}

{% for t in alltags %}
  {% if t != tag %}
    <a href="/tags/{{ t }}" class="buttonlike colortag" style="background: {{ colorfcn(t)[t] }}">{{ t }}</a>
  {% endif %}
{% endfor %}

{% if tag %}
<br>
or <a href="/tags" class="buttonlike">View/edit all tags</a>
{% endif %}
</div>

{% if user and not user.is_anonymous %}
  <form method="POST" action="/tags">
    {{ form.hidden_tag() }}
    <input type="hidden" id="yearcode" name="yearcode" value="{{ session['yearcode'] }}">

    Create a new tag:
    {{ form.newtagname(size=15) }}
    {{ form.submit() }}

    <i>(Only letters, numbers, dash, underscore, 15 characters max)</i><br />

    {% for error in form.newtagname.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}

    <p>
    Note: <strong>tags are public</strong>.
    Anyone can see and change anyone else's tags.
    </p>
  </form>
{% endif %}

{% if tag %}
<form method="POST" action="/tags/{{ tag }}">
{% else %}
<form method="POST" action="/tags">
{% endif %}

<p>
Tags can only apply to bills users are tracking.
If you don't see a bill in the lists below, probably nobody is tracking it yet.
</p>

<p class="no-changes-until-click">
<strong>Changes don't take effect until you click:</strong>
<input type=submit name="update" class="update-tags-submit" value="Update tags">
</p>

<notags>
<p>
This page works better with Javascript enabled.
Without JS, you can still change tags, but
you won't see feedback for which bills you've changed.
</p>
</notags>

{% import "listbills.html" as listbills %}

<input type="hidden" id="tag" name="tag" value="{{ tag }}">

{% for header in bill_lists %}
  <h2>{{ header }}</h2>
  {{ listbills.listbills(bill_lists[header], user,
                         extras={ "tag": tag, "popular": None, "track": None,
                                  "alltags": alltags, "colorfcn": colorfcn }) }}
{% endfor %}

<p class="no-changes-until-click">
<strong>Changes don't take effect until you click:</strong>
<input type=submit name="update" class="update-tags-submit" value="Update tags">
</p>

</form>

{% endblock %}

{% include "footer.html" %}

</body>
</html>
