{% extends "base.html" %}

{% block content %}

<h2>Votes on {{ billno }}: {{ bill.title }}</h2>

{% if reports %}
<p>
({{ legsession.year }} {{ legsession.typename }} session)
</p>

  {% for commcode in reports %}
    {% for report in reports[commcode] %}
      {% if report %}
        <h3>{{ committees[commcode].name }}, {{ report["date"] | prettify_yyyy_mm_dd() }}:</h3>
        <table class="definitions">
        {% for votetype in report["votes"] | sort(reverse=true) %}
          {# votetype "rollcall" is the URL of the roll call vote,
             not a list of legislators #}
          {% if votetype != "rollcall" %}
  <tr><th>{{ votetype }}:</th>
      <td>
            {# report["votes"][votetype]] is a list of sponcodes #}
            {% for sponcode in report["votes"][votetype] | sort %}
                <a href="https://nmlegiswatch.org/legislators/{{ sponcode }} target=" _blank">{{ legislators[sponcode].firstname }} {{ legislators[sponcode].lastname }}</a><br />
            {% endfor %}
          {% endif %}
  </td></tr>
        {% endfor %}
</table>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% else %}
<p>
No votes recorded for {{ billno }}
in the {{ legsession.year }} {{ legsession.typename }} session.</p>
{% endif %}

{% endblock %}
